
@font-face {
    font-family: 'Norse';
    src: url('fonts/Norsebold.otf') format('opentype');
  }
  
body{
    background-color: rgb(43, 42, 42); 
}

.Flex{
display: flex;
}
.SidePanel{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:50px;
    height: 100vh;
}

.Logo{
    font-family: 'Norse';
    color: rgba(227,178,97,255);
    text-align: center;
    background-color: rgb(87, 84, 84);
    border-radius: 30%;
}

.Back,.link{
   
    font-family: 'Norse';
    color: rgba(227,178,97,255);
    text-align: center;
    background-color: rgb(87, 84, 84);
    border-radius: 30%;
  

}
.Back:hover,.link:hover,.Logo:hover{
    background-color: rgb(143, 143, 143);
}

.Content{
    padding: 60px;
    padding-top: 10px;
display: flex;
flex-direction: column;
gap: 100px;
}

.Recipes{
    display: flex;
    gap: 50px;
    justify-content: center;    
}

.Text{
  
    padding: 60px;
    padding-top: 10px;
    font-family: 'Norse';
    color: rgba(227,178,97,255); 
    font-size: 40px;
    text-align: center;
    background-color: rgb(87, 84, 84);
    border-radius: 30%;
    height: 100px;
}
.Text1{
  font-size: 60px;
}


.banner{
    display: flex;
    flex-direction: column;
    font-family: 'Norse';
    padding: 20px;
    background-color: rgb(75, 75, 75);
    text-align: center;
    color:rgba(230, 175, 87, 255);
    font-size: 30px;
    border-radius: 10%;
    gap:10px;
    align-items: center;
}
a {
    text-decoration: none;
    color:rgba(227,178,97,255);
  }
  img{
    border-radius: 5%;
  }

  .banner:hover{
    background-color: rgb(143, 143, 143);
   color:rgba(227,178,97,255);
  }

  .Box{
   
    display: flex;
    flex-direction: column;
    margin: 60px;
    margin-top: 10px;
    padding: 50px;
    padding-top: 10px;
    font-family: 'Norse';
    color: rgba(227,178,97,255); 
    font-size: 40px;
    text-align: center;
    background-color: rgb(87, 84, 84);
    border-radius: 10%;
    
  }
  .box1{
    font-size: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
  .imagebox img{
    height:400px;
    width: 400px;
  }
  .textbox{
    width:920px;
   
    text-align: left;
 
  }
  .book{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap:40px;
    text-align: left;
    justify-content: space-around;
  }


  .align h1{
    text-align: center;
    padding-right: 10px;
  }
  .align ul{
    list-style: none;
  }

  @media (max-width:768px) {
    .Text{
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-top: 20px;
    font-size: 30px;
    height: 200px;
    align-items: center;

    
   
  }

  .banner{
    flex-direction: column-reverse;
    
    padding-bottom: 10px;
    background-color: rgb(75, 75, 75);
    text-align: center;
    color:rgba(230, 175, 87, 255);
    font-size: 30px;
    border-radius: 10%;
    gap:0px;
    align-items: center;
    padding-bottom:30px;
    padding-top: 0px;
    padding-left:0px;
    padding-right: 0px;
   
}
.Content{
  
gap: 30px;
}


  

    .Logo .a{
      display: flex;
      flex-direction: row-reverse;
      flex-shrink: 2;
    }
  .Recipes{
    flex-direction: column;
    flex-wrap: wrap;
   
  }
 

.Flex{
  display: block;
}

    .SidePanel{
      padding-top: 60px;
      padding-bottom: 100px;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: 150px;
      gap:0;
      
    }
    .box1{
      display: block;
    }
.link{
  flex-grow: 2;
  margin: 10px;
}
.textbox{
  width:520px;
  text-align: left;
}
    
  }